<ion-header>
  <app-header name="Photos"></app-header>
</ion-header>

 <ion-content>
   <ion-grid>
     <ion-col>
       <img src="{{imageURL}}" >
     </ion-col>
   </ion-grid>
   <ion-fab vertical='bottom' horizontal='end'>
    <ion-fab-button color="secondary">
      <ion-icon name="cloud-upload" color='light'></ion-icon>
    </ion-fab-button>
    <ion-fab-list side='start' >
      <ion-fab-button (click)='uploadPhoto()' >
        <ion-icon color='tertiary' name="image"></ion-icon>
      </ion-fab-button>
    
      <ion-fab-button (click)='openCamera()' >
        <ion-icon color='danger' name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> 
  </ion-fab>
 </ion-content>

 