<ion-header [translucent]="true" *ngIf="(afAuth.user | async) as user">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Memories</ion-title>
   <ion-buttons slot="primary">
    <ion-button color="secondary"  ion-button icon-only (click)="presentPopover($event)"> 
      <ion-icon class="more-icon" name="more" slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(afAuth.user | async) as user ;else loginItems">
    <app-home></app-home>
</ion-content>

  <ng-template #loginItems>
    <div class="content">
      <ion-item color="transperent">
        <ion-label  position='floating'>Email</ion-label><br>
        <ion-input class="input" [(ngModel)]='user.email'>
          <ion-icon name="person-circle-outline" color='success'></ion-icon>
        </ion-input>
      </ion-item>
  
      <ion-item color="transperent">
        <ion-label position='floating'>Password</ion-label><br>
        <ion-input  class="input"  [(ngModel)]='user.password' type='password' >
          <ion-icon name="lock-closed-outline" color="success"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <div class="cont-alignment">
      <ion-button class="cont-alignment" (click)="login()" size='small' color="success"  >Login</ion-button>
      </div>
      <p class="cont-alignment">Already have an account?</p>
      <a class="cont-alignment" href="/register">Register</a>
    </div>
    
  </ng-template>
  
